# bocop build process
build/
lib/
coverage/
bocopApp
bocopproblem
bocopwrapper.py
*.dylib
*.so
*.exe
*.dll

# bocop output files
*.sol
*.backup

# python
__pycache__
.ipynb_checkpoints/
*.pyc
/dist/
*.egg-info
MANIFEST

# docs
_static
_templates
latex
Makefile
doctrees
doc/html/
