# bocop
build/
bocopApp
bocopproblem
bocopwrapper.py
libbocop.dylib
*.so
!bocop/
*.backup
lib/
coverage/
problem.sol
# build result for windows
*.exe
*.dll

# python
__pycache__
.ipynb_checkpoints/
*.pyc
/dist/
*.egg-info
MANIFEST

# docs
_static
_templates
latex
Makefile
doctrees
doc/html/
